<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">Sort By-</option>
        <option value="countryname">CountryName Asc</option>
        <option value="countryname desc">CountryName Desc</option>
        <option value="CountryCode2">CountryCode2</option>
        <option value="CountryCode2">CountryCode3 Asc</option>
        <option value="Continenet">Continent</option>
    </select>
</section>