@page "/counter"
@using BlazorProducts.Client.Components
@using System.Security.Claims

<PageTitle>Counter</PageTitle>
<AuthorizeView Roles="Administrator">
    <Authorized>
        The user: @context.User.FindFirst(ClaimTypes.Name).Value is Authorized
    </Authorized>
    <NotAuthorized>
        The user is Not Authorized
    </NotAuthorized>
</AuthorizeView>
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    private async void IncrementCount()
    {
        var authState = await AuthState;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
            currentCount++;
        else
            currentCount--;


    }
}
